body,
.App {
    background-color: #076324;
    background-image: url(./images/black-felt.png);
}
.App {
    text-align: center;
}

.App-info {
    color: white;
    background-color: #282c34;
    font-size: 20px;;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.App-score {
    color: white;
    background-color: #282c34;
    font-size: 20px;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.App-table {
    width: 752px;
    height: 752px;
    position: relative;
    margin: 0 auto;
}

/* ========================================================================== */
/* Add users popup */

.App-add-users-popup {
    text-align: center;
    width: 300px;
    height: 300px;
    position: absolute;
    top: calc(50% - 300px/2);
    left: calc(50% - 300px/2);
    border: 4px solid #efefef;
    background-color: rgba(223,223,223, 0.7);
}

.App-add-users-popup ul {
    list-style-type: none;
    text-align: left;
}

.App-add-users-popup input,
.App-add-users-popup button {
    box-sizing: border-box;
    width: 200px;
}

/* ========================================================================== */
/* Cards */

.card {
    width: 71px; height: 97px;
    display: inline-block;
    /* SOURCE: https://codepen.io/SufferMyJoy/pen/dPEReN */
    background: url(./images/cards.png) 0px 0px;
    position: relative;
}

.card.not-possible {
    opacity: 0.4;
}

.placeholder { background-position: -2px -1px; }
.placeholder::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 3px;
    width: 70%;
    height: 70%;
    background: black;
}
.placeholder::after {
    content: '';
    position: absolute;
    bottom: 4px;
    right: 3px;
    width: 70%;
    height: 70%;
    background: red;
}

.spades_A { background-position: -2px -1px; }
.spades_7 { background-position: -440px -1px; }
.spades_8 { background-position: -512px -1px; }
.spades_9 { background-position: -586px -1px; }
.spades_10 { background-position: -658px -1px; }
.spades_J { background-position: -732px -1px; }
.spades_Q { background-position: -804px -1px; }
.spades_K { background-position: -878px -1px; }

.hearts_A { background-position: -2px -99px; }
.hearts_7 { background-position: -440px -99px; }
.hearts_8 { background-position: -512px -99px; }
.hearts_9 { background-position: -586px -99px; }
.hearts_10 { background-position: -658px -99px; }
.hearts_J { background-position: -732px -99px; }
.hearts_Q { background-position: -804px -99px; }
.hearts_K { background-position: -878px -99px; }

.clubs_A { background-position: -2px -197px; }
.clubs_7 { background-position: -440px -197px; }
.clubs_8 { background-position: -512px -197px; }
.clubs_9 { background-position: -586px -197px; }
.clubs_10 { background-position: -658px -197px; }
.clubs_J { background-position: -732px -197px; }
.clubs_Q { background-position: -804px -197px; }
.clubs_K { background-position: -878px -197px; }

.diamonds_A { background-position: -2px -295px; }
.diamonds_7 { background-position: -440px -295px; }
.diamonds_8 { background-position: -512px -295px; }
.diamonds_9 { background-position: -586px -295px; }
.diamonds_10 { background-position: -658px -295px; }
.diamonds_J { background-position: -732px -295px; }
.diamonds_Q { background-position: -804px -295px; }
.diamonds_K { background-position: -878px -295px; }

/* ========================================================================== */
/* Players */

.App-current-hand {
    width: 284px;
    text-align: left;
    display: inline-block;
    left: calc(50% - 284px/2);
    top: calc(50% - 100px/2);
    position: absolute;
}

.App-player {
    overflow: hidden;
    display: inline-block;
    width: 568px;
    height: 100px;
    position: relative;
}

.App-player-name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
}

.App-player-name.current {
    background-color: rgba(220, 20, 60, 0.9);
}

.App-player.bottom {
    bottom: 0px;
    left: calc(50% - 568px/2);
    position: absolute;
}

.App-player.top {
    top: 0px;
    left: calc(50% - 568px/2);
    position: absolute;
}
.App-player.top .App-player-name {
    bottom: initial;
    top: 0;
}

.App-player.left {
    width: 100px;
    height: 568px;
    top: calc(50% - 568px/2);
    left: 0px;
    position: absolute;
}

.App-player.left > div {
    width: 568px;
    height: 100px;
    transform: rotate(90deg) translate(0px, -100px);
    transform-origin: top left;
}

.App-player.left .App-player-name {
    bottom: initial;
    top: 0;
    left: -80px;
    width: 568px;
    height: initial;
}

.App-player.right {
    width: 100px;
    height: 568px;
    top: calc(50% - 568px/2);
    right: 0px;
    position: absolute;
}

.App-player.right > div {
    width: 568px;
    height: 100px;
    transform: rotate(90deg) translate(0px, -100px);
    transform-origin: top left;
}

.App-player.right .App-player-name {
    bottom: initial;
    top: 0;
    width: 568px;
    height: initial;
}

/* ========================================================================== */
/* Messages popup */

.App-popup {
    background: red;
    width: 300px;
    height: 300px;
    position: absolute;
    top: calc(50% - 300px/2);
    left: calc(50% - 300px/2);
}
